<?php 
if (!$step) {
    $step = 20;
}
$pages = ceil($total / $step);
?>
<nav class="text-right">
  <ul class="pagination">
  <?php
  if ($pages <= 6) :
    if ($start > 1) :
    ?>
    <li><a href="<?= $uri ?>">&laquo;</a></li>
    <?php 
    endif;
    for ($i = 1; $i <= $pages; $i ++):
    ?>
    <li class="<?= $i == $start ? 'active' : '' ?>"><a href="<?= $uri . "/$i" ?>"><?= $i ?></a></li>
    <?php 
    endfor;
    if ($start < $pages) :
    ?>
    <li><a href="<?= $uri . "/$pages" ?>">&raquo;</a></li>
    <?php 
    endif;
  else:
    if ($start > 1) :
    ?>
    <li><a href="<?= $uri ?>">&laquo;</a></li>
    <?php 
    endif;
    for ($i = $start - 2 >= 0 ? $start - 2 : $start ; $i <= ($start + 2 >= $pages ? $pages : $start + 2); $i ++):
    if ($i == 0) continue;
    ?>
    <li class="<?= $i == $start ? 'active' : '' ?>"><a href="<?= $uri . "/$i" ?>"><?= $i ?></a></li>
    <?php 
    endfor;
    if ($start < $pages) :
    ?>
    <li><a href="<?= $uri . "/$pages" ?>">&raquo;</a></li>
    <?php 
    endif;
  endif;
  ?>
  </ul>
</nav>