  <!-- 搜索模块 -->
<?php if (!$fields) return?>
<div class="panel-heading">
  <form method="post">
    <div class="row">
      <?php
      foreach ($fields as $name => $search) {
        echo \Gini\Model\Widget::factory("widgets/search/{$search['type']}", [
            'name' => $name,
            'form' => $form,
            'search' => $search
        ]);
      }
      ?>
      <div class="col-md-1">
        <div class="input-group heighted">
          <button class="btn btn-sm btn-primary" type="submit"><?= T('搜索') ?></button>
        </div><!-- /input-group -->
      </div>
    </div>
  </form>
</div>
<!-- 筛选模块-->
<script>
require(['main'], function($) {
  
  require(['bootstrap-select', 'css!../css/bootstrap-select'], function() {
    $('.selectpicker').selectpicker({
      size: 5,
    }).prev('.dropdown-menu').find('input').attr({
      'placeholder': '<?= T('请输入有效关键字进行查询') ?>'
    }).parent('.dropdown-menu div').prev('button').attr('style','height: 30px;padding: 0px 12px;');
    $('.selectpicker').prev().prev().attr('style','height: 30px; padding-top: 4px;').parent().attr('style','height:30px;');
  })

  require(['bootstrap-datetimepicker', 'bootstrap-datetimepicker.zh-CN', 
  'css!../css/bootstrap-datetimepicker.min'], function() {
    $('.form_datetime').datetimepicker({
      language:  'zh-CN',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
    });
  });
  
});
</script>