<div class="col-md-4">
  <div class="input-group heighted">
    <span class="input-group-addon" style="height: 30px;"><?= $search['title'] ?></span>
    <select name="<?= $name ?>" class="selectpicker form-control"> 
      <option><?= T('全部') ?></option>
      <?php foreach ($search['values'] as $key => $value) : ?>
      <option value="<?= $key ?>" <?= $search['value'] == $key ? 'selected' : '' ?> ><?= $value ?></option>
      <?php endforeach; ?>
    </select>
  </div><!-- /input-group -->
</div>