<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('确认分配') ?></h4>
      </div>
      <div class="modal-body">
        <?= T('您确定要确认该次分配吗') ?>
        <form id="distributionConfirm" class="form-horizontal" method="post" role="form" 
        action="gini-ajax:ajax/distribution/confirm/<?= $distribution->id ?>">
            <input type="hidden" name="id" value="<?= $distribution->id ?>"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-success" form="distributionConfirm"><?= T('确认') ?></button>
      </div>
    </div>
  </div>
</div>

<script data-ajax>
require(['main'], function ($) {  
  form = $('form#distributionConfirm')
  form.on('ajax-before', function(){
    $('.modal-act').remove()
  }).on('submit', function(e){
    $('input.tokenfield', form).each(function(k, v){
      $(v).val($(v).attr('real-value'))
    })
  })

  if ($('.modal-act').length > 0) {
    $(".modal-act:not(':eq(0)')").remove()
  }
  $('.modal-act').modal('show')

  $('.modal-act').on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
})
</script>