<?php $me = _G('ME');?>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><?= T('分配单: ') . str_pad($distribution->id, 8, 0, STR_PAD_LEFT) ?></h4>
    <?= $distribution->label() ?>
  </div>
  <div class="panel-body">
    <?php if (!$distribution->manager) : ?>
    <div class="alert alert-warning" role="alert">
      <?= T('您的仪器所在组织机构没有财务账号, 暂时无法做确认') ?>
    </div>
    <?php endif ?>
    <div class="row">
      <div class="col-md-12">
        <h4><?= T('仪器: ') . $equipment->name ?></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4><?= T('总金额') ?></h4>
        <p class="text-warning"><?= $balance ?></p>
      </div>
      <div class="col-md-3">
        <h4><?= T('大仪共享绩效费') ?></h4>
        <small><?= H($distribution->admin) ?></small>
        <p class="text-warning"><?= H($balance * $distribution->admin_scale) ?></p>
      </div>
      <div class="col-md-3">
        <h4><?= $equipment->group() ? $equipment->group() . '大仪共享成本费' : T('学院大仪共享成本费') ?></h4>
        <small><?= H($distribution->manager) ?></small>
        <p class="text-warning"><?= H($balance * $distribution->manager_scale) ?></p>
      </div>
      <div class="col-md-3">
        <h4><?= T('维修基金及管理费') ?></h4>
        <small><?= H($distribution->school) ?></small>
        <p class="text-warning"><?= H($balance * $distribution->school_scale) ?></p>
      </div>
    </div>
    <div class="row">
      <!--<div class="col-md-3">
        <h5><?= T('确认机主: ') . a('user', ['oid' => $distribution->reviewe])->name ?></h5>
      </div>-->
      <div class="col-md-3">
        <h5><?= T('确认管理员: ') . a('user', ['oid' => $distribution->reviewe])->name ?></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-warning btn-sm" href="distribution"><?= T('返回') ?></a>
        <?php
        if ((($me->isAllowedTo('初审') || $me->isAdmin()) && $distribution->status == \Gini\ORM\Distribution::STATUS_PREPARE)
        && ($distribution->manager || $me->isAdmin())):
        ?>
        <a class="btn btn-success btn-sm" href="gini-ajax:ajax/distribution/confirm/<?= $distribution->id ?>"><?= T('确认') ?></a>
        <?php
        endif;
        //elseif ($distribution->status == \Gini\ORM\Distribution::STATUS_ASSIGNED) :
        ?>
        <a class="btn btn-info btn-sm" href="distribution/print/<?= $distribution->id ?>"><?= T('打印') ?></a>
        <a class="btn btn-info btn-sm" href="distribution/export/<?= $distribution->id ?>"><?= T('导出') ?></a>
        <?php
        //endif;
        ?>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default table-responsive">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
        <h4><?= T('测试明细') ?></h4>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <th><?= T('明细号') ?></th>
      <th><?= T('部门编号') ?></th>
      <th><?= T('部门名称') ?></th>
      <th><?= T('项目编号') ?></th>
      <th><?= T('项目名称') ?></th>
      <th><?= T('金额') ?></th>
      <th><?= T('补贴') ?></th>
      <th><?= T('操作时间') ?></th>
      <th><?= T('操作人') ?></th>
      <th><?= T('操作类别') ?></th>
      <th><?= T('授权节点信息') ?></th>
      <th><?= T('收费双向确认节点信息') ?></th>
      <th><?= T('凭证编号') ?></th>
    </thead>
    <tbody>
    <?php
    $amount = 0;
    if ($transactions) foreach ($transactions as $tran) :
    if ($tran['object'] == 'subsidy') continue;
    $transaction = a('transaction', $tran['id']);
    $amount += abs($transaction->amount);
    $account = a('account', $tran['account']);
    $fund = a('fund', $account->fund);
    $user = a('user', $tran['user']);
    $lab = a('lab', $account->lab);
    ?>
    <tr>
      <td><?= H(str_pad($transaction->id, 8, 0, STR_PAD_LEFT)) ?></td>
      <td><?= H($fund->dept_no) ?></td>
      <td><?= H($fund->dept_name) ?></td>
      <td><?= H($fund->prot_no) ?></td>
      <td><?= H($fund->prot_name) ?></td>
      <td>
        <span class="<?= $transaction->style() ?>">
          <?= H(abs($transaction->amount)) ?>
        </span>
      </td>
      <td><?= H(abs($transaction->note)) ?></td>
      <td><?= H($transaction->ctime) ?></td>
      <td><?= H($user->name . '-' . $user->lab->name) ?></td>
      <td>
        <span class="<?= $transaction->style() ?>"><?= $transaction->text() ?></span>
      </td>
      <?php
      $comment = '';
      if ($lab->owner->id != $user->id) {
        $record = a('authorized/record', ['licensor' => $tran['user'], 
        'type' => \Gini\ORM\Authorized\Record::TYPE_ALLOW, '_object' => true]);
        $op = a('user', $record->operator);
        $comment = "{$op->name}将经费授权给{$user->name} {$record->ctime}";
      }
      ?>
      <td><?= H($comment) ?></td>
      <td><?= H($transaction->comment) ?></td>
      <td>
        <span class="label label-primary"><?= $transaction->evidence ?></span>
      </td>
    </tr>
    <?php
    endforeach;
    ?>
    <tr>
      <td colspan="5"><strong><?= T('汇总') ?><strong></td>
      <td><?= H($amount) ?></td>
      <td colspan="7"><?= H(array_sum(array_column($transactions, 'note'))) ?></td>
    </tr>
    </tbody>
  </table>
</div>
