<div class="panel panel-default table-responsive">
  <!-- 搜索模块 -->
  <?= $searchForm ?>
  
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
        <h4><?= T('分配单') ?></h4>
      </div>
      <!--<div class="col-md-4 text-right">
        <form role="form" method="post">
          <div class="input-group">
            <input name="keyword" type="text" class="form-control input-sm" 
            placeholder="<?= T('请输入关键字') ?>" value="<?= H($form['keyword']) ?>">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" type="submit"><?= T('搜索') ?></button>
            </span>
          </div>
        </form>
      </div>-->
    </div>
  </div>
  <table class="table">
    <thead>
      <th><?= T('编号') ?></th>
      <th><?= T('校级费用') ?></th>
      <th><?= T('学院费用') ?></th>
      <th><?= T('设备处费用') ?></th>
      <th><?= T('仪器名称') ?></th>
      <th><?= T('总费用') ?></th>
      <th><?= T('创建时间') ?></th>
      <th><?= T('状态') ?></th>
      <th><?= T('操作') ?></th>
    </thead>
    <tbody>
    <?php
    if ($distributions) foreach ($distributions as $distribution) :
    $distribution = a('distribution', $distribution['id']);
    $balance = abs($distribution->balance);
    $equipment = a('equipment', ['oid' => $distribution->equipment]);
    ?>
    <tr>
      <td><?= H(str_pad($distribution->id, 8, 0, STR_PAD_LEFT)) ?></td>
      <td><?= H($balance * $distribution->school_scale) ?></td>
      <td><?= H($balance * $distribution->manager_scale) ?></td>
      <td><?= H($balance * $distribution->admin_scale) ?></td>
      <td><?= H($equipment->name) ?></td>
      <td><?= H($balance) ?></td>
      <td><?= H($distribution->ctime) ?></td>
      <td><?= $distribution->label() ?></td>
      <td><?= $distribution->links() ?></td>
    </tr>
    <?php
    endforeach;
    ?>
    </tbody>
  </table>
</div>