<style>
th {
    text-align: left;
}
td,th {
    border: 1px solid #666;
}
</style>
<h5><?= T('分配概况: ') ?></h5>
<table style="width:530px;font-size:10px;padding:4px;">
  <thead>
    <tr>
      <th><?= T('账号') ?></th>
      <th><?= T('类型') ?></th>
      <th><?= T('分配比例') ?></th>
      <th><?= T('分配金额') ?></th>
    </tr>
  </thead>
  <tbody>
    <tr style="background-color:#eee;">
      <td><?= $distribution->admin ?></td>
      <td><?= T('大仪共享绩效费') ?></td>
      <td><?= ($distribution->admin_scale * 100) . '%' ?></td>
      <td>&#65509;<?= $distribution->balance * $distribution->admin_scale ?></td>
    </tr>
    <tr>
      <td><?= $distribution->manager ?></td>
      <td><?= $equipment->group() ? $equipment->group() . '大仪共享成本费' : T('学院大仪共享成本费') ?></td>
      <td><?= ($distribution->manager_scale * 100) . '%' ?></td>
      <td>&#65509;<?= $distribution->balance * $distribution->manager_scale ?></td>
    </tr>
    <tr style="background-color:#eee;">
      <td><?= $distribution->school ?></td>
      <td><?= T('维修基金及管理费') ?></td>
      <td><?= ($distribution->school_scale * 100) . '%' ?></td>
      <td>&#65509;<?= $distribution->balance * $distribution->school_scale ?></td>
    </tr>
    <tr style="font-size: 12px;">
      <td style="height: 25px;"><?= T('报销总金额（大写）') ?></td>
      <td colspan="2" style="height: 25px;"><?= $chinese_balance ?></td>
      <td style="height: 25px;">&#65509;<?= $distribution->balance ?></td>
    </tr>
    <tr style="font-size: 12px;">
      <td colspan="2" style="height: 100px;"><?= T('设备处经办人:') ?></td>
      <td colspan="2" style="height: 100px;">
        <?= T('设备处审核:') ?>
        <br/>
        <p style="text-align: right;">
          <?= T('(签章)') ?>
        </p>
        <p style="text-align: right;">
          <?= T('年   月   日') ?>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h5><?= T('测试明细: ') ?></h5>
<table style="width:530px;font-size:10px;padding:4px;">
    <thead style="page-break-inside:always;">
      <tr>
        <th><?= T('明细号') ?></th>
        <th><?= T('所属单位') ?></th>
        <th><?= T('项目编号') ?></th>
        <th style="width: 42px;"><?= T('金额') ?></th>
        <th style="width: 42px;"><?= T('补贴') ?></th>
        <th style="width: 60px;"><?= T('测试时间') ?></th>
        <th><?= T('预约使用人') ?></th>
        <th><?= T('测试内容') ?></th>
        <th><?= T('收费确认') ?></th>
        <th><?= T('经费负责人') ?></th>
        <th><?= T('经费审批人') ?></th>
      </tr>
    </thead>
    <tbody>
      <?php
      $accounts = [];
      $funds = [];
      $amount = 0;
      $i = 0;
      foreach ($transactions as $tran) : 
      if ($tran['object'] == 'subsidy') continue;
      $amount += abs($tran['amount']);
      if (!$accounts[$tran['account']]) $accounts[$tran['account']] = a('account', $tran['account']);
      $account = $accounts[$tran['account']];
      if (!$funds[$account->fund]) $funds[$account->fund] = a('fund', $account->fund);
      $fund = $funds[$account->fund];
      $user = a('user', $tran['user']);
      $i ++;
      ?>
      <tr style="<?= $i % 2 == 0 ? 'background-color:#eee;' : ''; ?>page-break-inside:avoid;">
        <td><?= H(str_pad($tran['id'], 8, 0, STR_PAD_LEFT)) ?></td>
        <td><?= H(explode('-', $distribution->manager)[0] . $equipment->group()) ?></td>
        <td><?= H($fund->prot_no) ?></td>
        <td style="width: 42px;">&#65509;<?= H(abs($tran['amount'])) ?></td>
        <td style="width: 42px;">&#65509;<?= H($tran['note']) ?></td>
        <td style="width: 60px;"><?= H($tran['ctime']) ?></td>
        <td><?= H("{$user->name}-{$user->lab->name}") ?></td>
        <td><?= H($tran['description']) ?></td>
        <td><?= H($tran['comment']) ?></td>
        <?php
        $incharge = a('transaction', ['account' => $account, 'source' => 'szht', '_object' => true]);
        $lab = a('lab', $account->lab);
        ?>
        <td><?= H("{$lab->owner->name}充值经费到{$lab->name} {$incharge->ctime}") ?></td>
        <?php 
        if ($lab->owner->id != $user->id) :
        $record = a('authorized/record', ['licensor' => $tran['user'], 
        'type' => \Gini\ORM\Authorized\Record::TYPE_ALLOW, '_object' => true]);
        $op = a('user', $record->operator);
        ?>
        <td><?= H("{$op->name}将经费授权给{$user->name} {$record->ctime}") ?></td>
        <?php else : ?>
        <td></td>
        <?php endif; ?>
      </tr>
      <?php 
      endforeach; 
      ?>
      <tr>
        <td colspan="3"><?= T('汇总') ?></td>
        <td><?= H($amount) ?></td>
        <td><?= H(array_sum(array_column($transactions, 'note'))) ?></td>
        <td colspan="6"></td>
      </tr>
    </tbody></table>
