<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('添加授权') ?></h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          <?= T('若同时为多人授权则视为多人共用该次授权金额') ?>
        </div>
        <form id="authorizeAdd" class="form-horizontal" method="post" role="form" action="gini-ajax:ajax/authorized/add">
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('经费') ?></label>
            <div class="col-sm-10">
              <select class="selectpicker form-control" data-live-search="true"
              title="<?= T('请选择来源经费') ?>" name="account">
                <?php
                foreach ($accounts as $account) :
                $fund = a('fund', $account['fund']);
                ?>
                <option value="<?= $account['id'] ?>">
                  <?= "余额: {$account['balance']} [{$fund->dept_no}]{$fund->dept_name} - [{$fund->prot_no}]{$fund->prot_name}" ?>
                </option>
                <?php
                endforeach;
                ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('用户') ?></label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="lab"><?= T('课题组统一授权') ?>
                </label>
              </div>
              <div class="checkbox" id="user-boxes">
                <i class="fa fa-circle-o-notch fa-spin"></i><?= H(' 正在加载用户……') ?>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('授权金额') ?></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="<?= H('请填写授权金额')?>"
                name="credit"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-success" form="authorizeAdd"><?= T('保存') ?></button>
      </div>
    </div>
  </div>
</div>

<?= V('help/form/error', ['name' => 'authorizeAdd', 'form' => $form]) ?>

<script data-ajax>
require(['main', 'autocomplete'], function ($) {
  require(['bootstrap-select', 'css!../css/bootstrap-select'], function() {
    $('.selectpicker').selectpicker({
      size: 5,
    }).prev('.dropdown-menu').find('input').attr({
      'placeholder': '<?= T('请输入有效关键字进行查询') ?>'
    })
  })

  $.get('ajax/user/search', {}, function (result) {
    var container = $('#user-boxes')
    container.html('')
    $.each(result, function (index, item) {
      var label = $(document.createElement('label')),
        input = $(document.createElement('input'))
      
      input
        .attr('type', 'checkbox')
        .attr('name', 'user[' + item.id + ']')
        .attr('value', item.name)
      label
        .append(input)
        .append(item.name)
        .css({'margin-right': '10px'})
      container.append(label)
    })
  })

  form = $('form#authorizeAdd')
  form
  .on('ajax-before', function () {
    $('.modal-act').remove()
  })
  .on('submit', function (e) {
    $('input.tokenfield', form).each(function (k, v) {
      $(v).val($(v).attr('real-value'))
    })
  })
  .on('click', 'input[name=lab]', function (e) {
    var on = $(this).is(':checked'),
      items = form.find('input[name*=user]')
    
    on && items.prop("checked", true)
    on || items.prop("checked", false)
  })
  .on('click', 'input[name*=user]', function (e) {
    var on = $(this).is(':checked'),
      lab = form.find('input[name=lab]')

    on || lab.prop("checked", false)
  })

  if ($('.modal-act').length > 0) {
    $(".modal-act:not(':eq(0)')").remove()
  }
  $('.modal-act').modal('show')

  $('.modal-act').on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
})
</script>