<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('削减额度') ?></h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          <?= T('该操作将削减该次授权下的可用金额') ?><br/>
          <?= T('可削减额度: ' . $authorized->balance) ?>
        </div>
        <form id="authorizeDeduct" class="form-horizontal" method="post" role="form" 
        action="gini-ajax:ajax/authorized/deduct/<?= $authorized->id ?>">
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('授权金额') ?></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="<?= H('请填写授权金额')?>"
                name="credit"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-success" form="authorizeDeduct"><?= T('保存') ?></button>
      </div>
    </div>
  </div>
</div>

<?= V('help/form/error', ['name' => 'authorizeDeduct', 'form' => $form]) ?>

<script data-ajax>
require(['main'], function ($) {  
  form = $('form#authorizeDeduct')
  form.on('ajax-before', function(){
    $('.modal-act').remove()
  }).on('submit', function(e){
    $('input.tokenfield', form).each(function(k, v){
      $(v).val($(v).attr('real-value'))
    })
  })

  if ($('.modal-act').length > 0) {
    $(".modal-act:not(':eq(0)')").remove()
  }
  $('.modal-act').modal('show')

  $('.modal-act').on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
})
</script>