<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('取消授权') ?></h4>
      </div>
      <div class="modal-body">
        <form id="authorize-delete" class="form-horizontal" method="post" 
        role="form" action="gini-ajax:ajax/authorized/delete/<?= $authorized->id ?>/<?= $user->oid ?>">
            <?php 
            $account = a('account', $authorized->account); 
            $fund = a('fund', $account->fund);
            ?>
            <p><?= T("您确定要取消对[{$user->name} - {$user->lab->name}]的授权？若取消后该授权内无有效用户将撤销该次授权。") ?></p>
            <p><?= "[{$fund->dept_no}]{$fund->dept_name} - [{$fund->prot_no}]{$fund->prot_name}" ?></p>
            <p><?= T('授权金额: ') ?><span class="text-success"><?= "{$authorized->balance}" ?></span></p>
            <input name="authorized" type="hidden" value="<?= $authorized->id ?>"/>
            <input name="user" type="hidden" value="<?= $user->oid ?>"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-danger" form="authorize-delete"><?= T('确定') ?></button>
      </div>
    </div>
  </div>
</div>

<script data-ajax>
require(['main'], function ($) {
  form = $('form#authorize-delete')
  form.on('ajax-before', function(){
    $('.modal-act').remove()
  })

  if ($('.modal-act').length > 0) {
    $(".modal-act:not(':eq(0)')").remove()
  }
  $('.modal-act').modal('show')

  $('.modal-act').on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
})
</script>