<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('补添授权') ?></h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          <?php 
          $account = a('account', $authorized->account);
          $fund = a('fund', $account->fund);
          echo T('若同时为多人授权则视为多人共用该次授权金额'); 
          ?>
          <p><?= "[{$fund->dept_no}]{$fund->dept_name} - [{$fund->prot_no}]{$fund->prot_name}" ?></p>
          <p><?= T('授权金额: ') ?><span class="text-success"><?= "{$authorized->balance}" ?></span></p>
        </div>
        <form id="authorize-jump" class="form-horizontal" method="post" role="form" action="gini-ajax:ajax/authorized/jump/<?= $authorized->id ?>">
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('用户') ?></label>
            <div class="col-sm-10">
              <input type="text" class="form-control tokenfield" placeholder="<?= H('请选择授权用户')?>"
                name="user" data-limit="5" data-url="ajax/user/search" style="padding: 6px 12px"/>
            </div>
          </div>
          <input type="hidden" name="authorized" value="<?= $authorized->id ?>"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-success" form="authorize-jump"><?= T('保存') ?></button>
      </div>
    </div>
  </div>
</div>

<?= V('help/form/error', ['name' => 'authorize-jump', 'form' => $form]) ?>

<script data-ajax>
require(['main', 'autocomplete'], function ($) {
  require(['tokenfield', 'css!../css/tokenfield', 'css!../css/typeahead'], function() {
    $('.tokenfield')
      .on('tokenfield:removedtoken', function (e) {
        var target = $(e.target)
            , value = e.attrs.value
            , real = JSON.parse(target.attr('real-value'))
            
        for (var k in real) {
            if (real[k] == value) {
                delete real[k]
            }
        }
        target.attr('real-value', real.length > 0 ? JSON.stringify(real) : '')
      })
      .tokenfield({
        autocomplete: {
          source: function(query, process) {
            var me = this.$element.siblings('.tokenfield')
              , count = me.data('items')
              , url = me.data('url')

            $.post(url, {query: query, count: count}, function (res) {
              return process(res);
            })
          },
          formatItem: function(item){
              return item["name"]
          },
          setValue: function(item){
              return {'data-value': item["name"], 'real-value': item["id"]};
          },
          select: function () {
            var $menu = this.$menu
                , $input = this.$element.siblings('.tokenfield')
                , $active = $menu.find('.active').length > 0 ? $menu.find('.active') : $menu.find('a:hover').parent('li')
                , real = $input.attr('real-value') || '{}'
                , real = JSON.parse(real)
                , tmp = []

            real[$active.attr('real-value')] = $active.attr('data-value')
            for (var k in real) {
                tmp[k] = real[k]
            }
            
            $input.attr('real-value', JSON.stringify(real))
              .val(tmp.join(','))
              .change()
            
            this.$element.val('')

            return this.hide()
          },
          delay: 500
        },
        showAutocompleteOnFocus: true
      })
    })

  form = $('form#authorize-jump')
  form.on('ajax-before', function(){
    $('.modal-act').remove()
  }).on('submit', function(e){
    $('input.tokenfield', form).each(function(k, v){
      $(v).val($(v).attr('real-value'))
    })
  })

  if ($('.modal-act').length > 0) {
    $(".modal-act:not(':eq(0)')").remove()
  }
  $('.modal-act').modal('show')

  $('.modal-act').on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
})
</script>