<div class="panel panel-default table-responsive">
  <!-- 搜索模块 -->
  <?= $searchForm ?>
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
      <h4>
        <ol class="breadcrumb breadcrumb-custom">
          <li><a href="<?= H("authorized") ?>"><?= T('授权管理') ?></a></li>
          <li class="active"><?= T('授权记录') ?></li>
        </ol>
        </h4>
      </div>
      
      <div class="col-md-4 text-right">
        <form role="form" method="post">
          <div class="btn-group">
            <!--<input name="keyword" type="text" class="form-control input-sm" 
            placeholder="<?= T('请输入关键字') ?>" value="<?= H($form['keyword']) ?>">-->
            <span class="btn-group-btn">
              <!--<button class="btn btn-primary btn-sm" type="submit"><?= T('搜索') ?></button>-->
              <!--<a href="gini-ajax:ajax/authorized/add" class="btn btn-success btn-sm">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <?= T('添加授权') ?>
              </a>-->
            </span>
          </div>
        </form>
      </div>
      
    </div>
  </div>
  <table class="table">
    <thead>
      <th><?= T('授权号') ?></th>
      <th><?= T('部门编号') ?></th>
      <th><?= T('部门名称') ?></th>
      <th><?= T('项目编号') ?></th>
      <th><?= T('项目名称') ?></th>
      <th><?= T('被授权人') ?></th>
      <th><?= T('授权金额') ?></th>
      <th><?= T('操作时间') ?></th>
      <th>
        <?= T('操作类别') ?>
        <i class="fa fa-question-circle" aria-hidden="true"
        data-toggle="tooltip" data-placement="left" 
        title="<?= T('若类别为充值或扣费, 则无被授权人, 为直接操作该次授权内余额') ?>"></i>
      </th>
    </thead>
    <tbody>
    <?php
    foreach ($records as $record) :
      $authorized = a('authorized', $record['authorized']);
      $account = a('account', $authorized->account);
      $fund = a('fund', $account->fund);
      $licensor = a('user', $record['licensor']);
    ?>
    <tr>
      <td><?= H(str_pad($authorized->id, 8, 0, STR_PAD_LEFT)) ?></td>
      <td><?= H($fund->dept_no) ?></td>
      <td><?= H($fund->dept_name) ?></td>
      <td><?= H($fund->prot_no) ?></td>
      <td><?= H($fund->prot_name) ?></td>
      <td><?= H($licensor->name ? : '无') ?></td>
      <td><?= H($record['balance']) ?></td>
      <td><?= H($record['ctime']) ?></td>
      <td class="text-center">
        <span class="<?= \Gini\ORM\Authorized\Record::$types_style[$record['type']] ?>">
          <?= \Gini\ORM\Authorized\Record::$types_text[$record['type']]; ?>
        </span>
      </td>
    </tr>
    <?php
    endforeach;
    ?>
    </tbody>
  </table>
</div>
<?= $pagination ?>
