<div class="panel panel-default table-responsive">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
        <h4><?= T('我的授权') ?></h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <?php 
      foreach ($authorizeds as $index => $authorized) :
      $fund = a('fund', $authorized['fund']);
      ?>
      <a href="<?= H("authorized/myinfo/{$authorized['id']}") ?>" 
        aria-expanded="true" aria-controls="<?= $authorized['id'] ?>">
      <div class="col-md-3" style="    margin: 5px 0;">
          <div class="panel panel-default account-board account-board-<?= $index % 4 + 1 ?>">
          <div class="panel-body">
              <div class="row">
              <div class="col-md-4">
                  <i class="fa fa-money" aria-hidden="true"></i>
              </div>
              <div class="col-md-8 text-right">
                  <h4 class="media-heading"><?= "￥{$authorized['balance']}" ?></h4>
                  <p><?= H($fund->dept_name . ' - ' . $fund->prot_name) ?></p>
              </div>
              </div> 
          </div>
          </div>
      </div>
      </a> 
      <?php 
      endforeach; 
      ?>
    </div>
  </div>
</div>