<div class="alert alert-info" role="alert">
  <?= T("最多可选择5个经费显示余额") ?>
</div>
<div class="panel panel-default table-responsive">
   <!-- 搜索模块 -->
  <?= $searchForm ?>
  <!-- 筛选模块-->
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
        <h4><?= T('经费管理') ?></h4>
      </div>
      <div class="col-md-4 text-right">
        <form role="form" method="post">
          <div class="btn-group">
            <!--<input name="keyword" type="text" class="form-control input-sm" 
            placeholder="<?= T('请输入关键字') ?>" value="<?= H($form['keyword']) ?>">-->
            <span class="btn-group-btn">
              <!--<button class="btn btn-primary btn-sm" type="submit"><?= T('搜索') ?></button>-->
              <a href="gini-ajax:ajax/fund/refresh" class="btn btn-warning btn-sm" type="button">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                <?= T('更新') ?>
              </a>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <th><?= T('编号') ?></th>
      <th><?= T('部门编号') ?></th>
      <th><?= T('部门名称') ?></th>
      <th><?= T('项目编号') ?></th>
      <th><?= T('项目名称') ?></th>
      <th style="text-align: center;"><?= T('启用') ?></th>
      <th style="text-align: center;"><?= T('余额') ?></th>
    </thead>
    <tbody>
    <?php
    foreach ($connects as $connect) :
    $fund = a('fund', $connect['fund']);
    ?>
    <tr>
        <td><a class="a-reset" title="查看经费流水" href="<?= H("deposit/fund/{$fund->id}/1") ?>"><?= H(str_pad($fund->id, 8, 0, STR_PAD_LEFT)) ?></a></td>
        <td><a class="a-reset" title="查看经费流水" href="<?= H("deposit/fund/{$fund->id}/1") ?>"><?= H($fund->dept_no) ?></a></td>
        <td><a class="a-reset" title="查看经费流水" href="<?= H("deposit/fund/{$fund->id}/1") ?>"><?= H($fund->dept_name) ?></a></td>
        <td><a class="a-reset" title="查看经费流水" href="<?= H("deposit/fund/{$fund->id}/1") ?>"><?= H($fund->prot_no) ?></a></td>
        <td><a class="a-reset" title="查看经费流水" href="<?= H("deposit/fund/{$fund->id}/1") ?>"><?= H($fund->prot_name) ?></a></td>
      
      <td style="text-align: center;">
        <input type="checkbox" data-type="disable"
        <?php if (!$connect['disable']) echo 'checked' ?> value="<?= $connect['id'] ?>">
      </td>
      <td style="text-align: center;">
        <input type="checkbox" data-type="show" 
        <?php if ($connect['show']) echo 'checked' ?> value="<?= $connect['id'] ?>">
      </td>
    </tr>
    <?php
    endforeach;
    ?>
    </tbody>
  </table>
</div>
<?= $pagination ?>

<script>
require(['main'], function ($) {
  $("[data-type=disable],[data-type=show]").on('click', function (e) {
    el = $(this)
    $.post('ajax/fund/add/' + el.val(), {
      type: el.data('type'),
      value: el.is(':checked') ? 1 : 0
    }, function (result) {
      if (el.data('type') == 'disable') {
        el.prop('checked', !result)
      }
      else {
        el.prop('checked', result)
      }
    })
  })
})
</script>