@import "inc/bootstrap";

body {
    background-color: @body-color;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: @school-color;
    overflow-y: auto;

    .list-group-item {
        color: #FFF;
        border: none;
        background-color: inherit;

        &:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        &:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }

    a.list-group-item {
        color: #fff;

        i {
            margin: 5px;
        }
    }

    a.list-group-item:focus, 
    a.list-group-item:hover {
        color: @active-color;
        text-decoration: none;
        background-color: darken(@school-color, 5%)
    }

    .list-group-item.active, 
    .list-group-item.active:focus, 
    .list-group-item.active:hover {
        z-index: 2;
        color: @active-color;
        background-color: darken(@school-color, 10%)
    }

    .list-group-title {
        height: 50px;
        font-size: 18px;
        line-height: 20px;
        padding-top: 15px;
    }
}

.modal-loading {
    .modal-body {
        color: @school-color;
        padding: 30px;

        h5 {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}

.account-board {
    margin-bottom: 0px;
    color: #FFF;

    .fa-money {
        font-size: 44px;
    }

    p {
        margin-bottom: 0px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.account-board-1 {
    background-color: #FF6B5D;
}

.account-board-2 {
    background-color: #4CC9F7;
}

.account-board-3 {
    background-color: #6AC9CF;
}

.account-board-4 {
    background-color: #F6D731;
}