<div class="panel panel-default table-responsive" 
  style="background-color: inherit;box-shadow: none;">
 <!-- 搜索模块 -->
  <?= $searchForm ?>
  
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
        <h4><?= T('授权信息') ?></h4>
      </div>
      <!--
      <div class="col-md-4 text-right">
        <form role="form" method="post">
          <div class="input-group">
            <input name="keyword" type="text" class="form-control input-sm" 
            placeholder="<?= T('请输入关键字') ?>" value="<?= H($form['keyword']) ?>">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" type="submit"><?= T('搜索') ?></button>
            </span>
          </div>
        </form>
      </div>
      -->
      <div class="col-md-4 text-right">
        <form role="form" method="post">
          <div class="btn-group">
            <!--<input name="keyword" type="text" class="form-control input-sm" 
            placeholder="<?= T('请输入关键字') ?>" value="<?= H($form['keyword']) ?>">-->
            <span class="btn-group-btn">
              <!--<button class="btn btn-primary btn-sm" type="submit"><?= T('搜索') ?></button>-->
              <a href="gini-ajax:ajax/authorized/add" class="btn btn-success btn-sm">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <?= T('添加授权') ?>
              </a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <?php 
  if ($authorizeds) foreach ($authorizeds as $index => $authorized) : 
  $id = "collapse-{$index}";
  $account = a('account', $authorized['account']);
  $fund = a('fund', $account->fund);
  ?>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a data-parent="#accordion" href="<?= H("authorized/info/{$authorized['id']}") ?>" 
        aria-expanded="true" aria-controls="<?= $id ?>">
          <?= H(str_pad($authorized['id'], 8, 0, STR_PAD_LEFT)) ?>
          <?= "[{$fund->dept_no}]{$fund->dept_name} - [{$fund->prot_no}]{$fund->prot_name}" ?>
          <?= T('授权余额: ') ?><span class="text-success"><?= "{$authorized['balance']}" ?></span>
        </a>
        <!-- Single button -->
        <div class="btn-group pull-right  btn-in-list">
          <a type="button"  class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#<?= $id ?>" 
           aria-haspopup="true" aria-expanded="false" aria-controls="<?= $id ?>" style="line-height: 11px;">
            查看用户
          </a>
          <div class="btn-group" >
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="line-height: 11px;">
              操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a aria-hidden="true" style="text-decoration: none; color: #a94442"
                href="gini-ajax:ajax/authorized/deduct/<?= $authorized['id'] ?>"
                data-toggle="tooltip" data-placement="left" title="削减额度">
                <?= T('削减额度') ?>
                </a>
              </li>
              <li>
                <a aria-hidden="true" style="text-decoration: none; color: green"
                href="gini-ajax:ajax/authorized/jump/<?= $authorized['id'] ?>"
                data-toggle="tooltip" data-placement="left" title="补充授权">
                补充授权
                </a>
              </li>
                <li><a aria-hidden="true" style="text-decoration: none"
                href="gini-ajax:ajax/authorized/put/<?= $authorized['id'] ?>"
                data-toggle="tooltip" data-placement="left" title="添加额度">添加额度</a>
              </li>
            </ul>
          </div>
        </div>
      </h4>
    </div>
    <div id="<?= $id ?>" class="panel-collapse collapse" role="tabpanel" data-auth="<?= $authorized['id'] ?>">
        <ul class="list-group">
        </ul>
    </div>
  </div>
  <?php endforeach; ?>
</div>
</div>
<script>
require(['main'], function($) {
  $('.collapse').on('show.bs.collapse', function (e) {
    var collapse = $(e.target),
      id = collapse.data('auth')
      ul = collapse.children('ul')
    
    if (ul.children().length == 0) {
      $.get('ajax/authorized/user/' + id, {}, function (res) {
        $.each(res, function (index, item) {
          var li = $(document.createElement('li'))
          var span = $(document.createElement('span'))
          var a = $(document.createElement('a'))
          var div = $(document.createElement('div'))

          li.addClass('list-group-item')
          li.text(item.name + ' - ' + item.lab)
          div.addClass('btn-group pull-right')
          div.css({
            'margin-right': '5%'
          })
          span.addClass('btn-group-btn')
          a.addClass('btn btn-danger btn-sm')
          a.css({
            'text-decoration': 'none',
            'padding': '2px 10px'
          })
          a.attr({
            'href': 'gini-ajax:ajax/authorized/delete/' + id + '/' + item.user,
            'data-toggle': 'tooltip', 
            'data-placement': 'left', 
            'title': '取消授权'
          })
          a.text("<?php echo T('取消授权'); ?>")
          span.append(a)
          div.append(span)
          li.append(div)
          ul.append(li)
        })

        $('[data-toggle=tooltip]').tooltip()
      })
    }
  })
})
</script>