<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('经费充值') ?></h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          <?= T("充值金额与账户余额之和不得大于{$limit}") ?>
        </div>
        <form id="depositAdd" class="form-horizontal" method="post" role="form" action="gini-ajax:ajax/deposit/add">
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('经费') ?></label>
            <div class="col-sm-10">
              <select class="selectpicker form-control" data-live-search="true"
              title="<?= T('请选择来源经费') ?>" name="fund">
                <?php
                foreach ($funds as $item) :
                $fund = a('fund', $item['fund']);
                ?>
                <option class="fund-mark-<?= $fund->id ?>" value="<?= $fund->id ?>" data-show="<?= $item['show'] ?>">
                  <?= $fund->makeName(); ?>
                </option>
                <?php
                endforeach;
                ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('课题组') ?></label>
            <div class="col-sm-10">
              <select class="selectpicker form-control" data-live-search="true"
              title="<?= T('请选择目标课题组') ?>" name="lab">
                <?php
                foreach ($labs as $lab) :
                ?>
                <option value="<?= $lab->oid ?>"><?= $lab->name ?></option>
                <?php
                endforeach;
                ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('充值金额') ?></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="<?= H('请填写充值金额')?>"
                name="balance"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><?= T('备注') ?></label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" placeholder="<?= H('请填写备注')?>" name="remark"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-success" form="depositAdd"><?= T('保存') ?></button>
      </div>
    </div>
  </div>
</div>

<?= V('help/form/error', ['name' => 'depositAdd', 'form' => $form]) ?>

<script data-ajax="true">
require(['main'], function ($) {
  require(['bootstrap-select', 'css!../css/bootstrap-select'], function() {
    $('.selectpicker').selectpicker({
      size: 10,
    }).prev('.dropdown-menu').find('input').attr({
      'placeholder': '<?= T('请输入有效关键字进行查询') ?>'
    })

    var index = 0,
    balance = function () {
      var selects = form.find("select[name=fund] [data-show=1]"),
      el = selects.eq(index),
      text = $('.fund-mark-' + el.val()).find('.text')
      
      $.ajax({
        url: 'ajax/fund/balance/' + el.val(),
        success: function (result) {
          var span = $(document.createElement('span'))
          span
          .addClass('text-success')
          .text(' <?= T('余额: ') ?> ' + result)
          text.find('span').remove()
          text.append(span)
          if (index < selects.length - 1) {
            index ++
            balance()
          }
        }
      })
    }
    balance()
  })

  form = $('form#depositAdd')
  form.on('ajax-before', function(){
    $('.modal-act').remove()
  }).on('submit', function(e){
    $('input.tokenfield', form).each(function(k, v){
      $(v).val($(v).attr('real-value'))
    })
  })

  $('.modal-act')
  .on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
  .modal('show')
})
</script>
