<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('批量解冻') ?></h4>
      </div>
      <div class="modal-body">
        <h5><?= T('将被冻结的经费条目') ?></h5>
        <form id="authorize-delete" class="form-horizontal" method="post" 
        role="form" action="gini-ajax:ajax/deposit/batch_unfreeze">
          <ul>
            <?php 
              $total = 0;
              foreach ($funds as $fk => $fund): 
              $total += $fund['balance'];
            ?>
              <li><label for="">编号：<?php echo $fund['id']; ?> </label> <label for="">剩余金额：<?php echo $fund['balance']; ?> </label>   <label for="">时间:<?php echo $fund['ctime']; ?> </label> </li>
            <?php endforeach; ?>
            <li style="line-height: 30px; font-size: 17px; color: green;}"><label for="">最大解冻金额：<?php echo $total; ?></label></li>
          </ul>
            <p><h3><?= T('批量解冻会按照按照金额从大到小顺序将不同充值条目解冻，直到金额达到您解冻的金额。') ?></h3></p>
            <p><label for="unfreeze_money">输入解冻金额：</label><input id="unfreeze_money" type="number" name="money" value="<?= $total ?>" min="0" max="<?= $total ?>" style="width: 50px;"></p>
            <input name="fund_id" type="hidden" value="<?= $fund['fund'] ?>"/>
        </form>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-danger" form="authorize-delete"><?= T('确定') ?></button>
      </div>
    </div>
  </div>
</div>

<script data-ajax>
require(['main'], function ($) {
  form = $('form#authorize-delete')
  form.on('ajax-before', function(){
    $('.modal-act').remove()
  })

  if ($('.modal-act').length > 0) {
    $(".modal-act:not(':eq(0)')").remove()
  }
  $('.modal-act').modal('show')

  $('.modal-act').on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
  var max_money = <?= $total ?>  
  $('#unfreeze_money').on('change', function(){
    if ($(this).val() > max_money) {
      $(this).val(max_money)
    }
  })
})
</script>