<div class="panel panel-default table-responsive">
 <!-- 搜索模块 -->
  <?= $searchForm ?>
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
          <h4>
          <ol class="breadcrumb breadcrumb-custom">
            <li><a href="<?= H("deposit") ?>"><?= T($from) ?></a></li>
            <li class="active"><?= T('经费流水') ?></li>
          <h4>
        </ol>
      </div>
      <div class="col-md-4 text-right">
        <form role="form" method="post">
          <div class="btn-group">
            <!--<input name="keyword" type="text" class="form-control input-sm" 
            placeholder="<?= T('请输入关键字') ?>" value="<?= H($form['keyword']) ?>">-->
            <span class="btn-group-btn">
              <!--<button class="btn btn-primary btn-sm" type="submit"><?= T('搜索') ?></button>-->
              <a href="gini-ajax:ajax/Deposit/add" class="btn btn-success btn-sm">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <?= T('充值') ?>
              </a>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <th><?= T('编号') ?></th>
      <th><?= T('部门编号') ?></th>
      <th><?= T('部门名称') ?></th>
      <th><?= T('项目编号') ?></th>
      <th><?= T('项目名称') ?></th>
      <th><?= T('可用总余额') ?></th>
      <th><?= T('可授权额度') ?></th>
      <th><?= T('操作') ?></th>
    </thead>
    <tbody>
    <?php
    if ($accounts) foreach ($accounts as $account) :
    $account = a('account', $account['id']);
    $fund = a('fund', $account->fund);
    ?>
    <tr>
      <td><?= H(str_pad($account->id, 8, 0, STR_PAD_LEFT)) ?></td>
      <td><?= H($fund->dept_no) ?></td>
      <td><?= H($fund->dept_name) ?></td>
      <td><?= H($fund->prot_no) ?></td>
      <td><?= H($fund->prot_name) ?></td>
      <td><?= H(abs($account->total)) ?></td>
      <td><?= H(abs($account->balance)) ?></td>
      <td><?= $account->links() ?></td>
    </tr>
    <?php
    endforeach;
    ?>
    </tbody>
  </table>
</div>
<?= $pagination ?>