<div class="panel panel-default table-responsive">
   <!-- 搜索模块 -->
  <?= $searchForm ?>
  
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
        <h4><?= T('充值冻结') ?></h4>
      </div>
      <div class="col-md-4 text-right">
        <form role="form" method="post">
          <div class="btn-group">
            <!--<input name="keyword" type="text" class="form-control input-sm" 
            placeholder="<?= T('请输入关键字') ?>" value="<?= H($form['keyword']) ?>">-->
            <span class="btn-group-btn">
              <!--<button class="btn btn-primary btn-sm" type="submit"><?= T('搜索') ?></button>-->
              <a href="gini-ajax:ajax/Deposit/add" class="btn btn-success btn-sm">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <?= T('充值') ?>
              </a>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <th><?= T('编号') ?></th>
      <th><?= T('部门编号') ?></th>
      <th><?= T('部门名称') ?></th>
      <th><?= T('项目编号') ?></th>
      <th><?= T('项目名称') ?></th>
      <th><?= T('可用总余额') ?></th>
      <th><?= T('可授权额度') ?></th>
      <th><?= T('操作') ?></th>
    </thead>
    <tbody>
    <?php
    if ($funds) foreach ($funds as $fund) :
    $fund = a('fund', $fund['id']);
    ?>
    <tr>
      <td><?= H(str_pad($fund->id, 8, 0, STR_PAD_LEFT)) ?></td>
      <td><?= H($fund->dept_no) ?></td>
      <td><?= H($fund->dept_name) ?></td>
      <td><?= H($fund->prot_no) ?></td>
      <td><?= H($fund->prot_name) ?></td>
      <td><?= H($fund->account()['total']) ?></td>
      <td><?= H($fund->account()['balance']) ?></td>
      <td><?= $fund->links() ?></td>
    </tr>
    <?php
    endforeach;
    ?>
    </tbody>
  </table>
</div>
<?= $pagination ?>