<div class="modal modal-act fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?= T('部分解冻') ?></h4>
      </div>
      <div class="modal-body">
        <form id="authorize-delete" class="form-horizontal" method="post" 
        role="form" action="gini-ajax:ajax/deposit/unfreeze">
            <p style="color: green; font-size: 18px;"><?php echo  T('最大解冻金额为 %money 元', ['%money' => $account->balance]); ?></p>
            <input type="number" name="money" id="unfreeze_money" min="0" max="<?= $account->balance ?>">
            <p style="color: red; "><h3><?= T("确认此解冻操作？") ?></h3></p>
            <input name="account_id" type="hidden" value="<?= $account->id ?>"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?= T('关闭') ?></button>
        <button type="submit" class="btn btn-danger" form="authorize-delete"><?= T('确定') ?></button>
      </div>
    </div>
  </div>
</div>

<script data-ajax>
require(['main'], function ($) {
  form = $('form#authorize-delete')
  form.on('ajax-before', function(){
    $('.modal-act').remove()
  })

  if ($('.modal-act').length > 0) {
    $(".modal-act:not(':eq(0)')").remove()
  }
  $('.modal-act').modal('show')

  $('.modal-act').on('hidden.bs.modal', function (e) {
    $('.modal-act').remove()
  })
  var max_money = <?= $account->balance ?>  
  $('#unfreeze_money').on('change', function(){
    if ($(this).val() > max_money) {
      $(this).val(max_money)
    }
  })
})
</script>