<form id="limitEdit" class="form-inline" method="post" role="form">
  <div class="form-group">
    <label for="exampleInputAmount"><?= T('限制金额') ?></label>
    <div class="input-group">
      <div class="input-group-addon">￥</div>
      <input type="number" class="form-control" placeholder="<?= H('请填写限制金额')?>"
        id="limit" name="limit" value="<?= $form['limit'] ? : $limit ?>"/>
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-success"><?= T('保存') ?></button>
</form>

<?= V('help/form/error', ['name' => 'limitEdit', 'form' => $form]) ?>
