<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <title><?= $title ? H($title) . ' · ' : '' ?><?= H(T(\Gini\Module\BillingSwu::serverTitle())) ?></title>
    <base href="<?= H(URL('/')) ?>">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/billing.css" rel="stylesheet">
    <link href="assets/css/tokenfield.css" rel="stylesheet">
    <script data-main="assets/js/main.js" src="assets/js/require.js"></script>
    <link rel="shortcut icon" href="assets/icon/favicon.png">
</head>
<body class="<?= $layout_class ?>">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar" style="padding: 0px;">
                <?= $sidebar ?>
            </div>
            <div class="col-md-10 col-md-offset-2" style="padding: 0px;">
                <div>
                    <?= $header ?>
                </div>
                <div style="padding: 15px;">
                    <?= $body ?>
                </div>
            </div>
        </div>
    </div>
    <div>
        <?= $footer ?>
    </div>
    <?= V('layout/loading') ?>
    <?= \Gini\Module\Help\Alert::getMessage() ?>
</body>
</html>
