<div class="modal modal-loading fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
        <h5><?= T('操作中请稍后...') ?></h5>
      </div>
    </div>
  </div>
</div>