<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><?= H(T(\Gini\Module\BillingSwu::serverTitle()[1])) ?></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?= $me->name ?></a>
        </li>
        <li><a href="logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<?php if ($funds) : ?>
<div style="padding: 15px 15px 0px 15px;">
  <div class="row">
    <?php 
    foreach ($funds as $index => $fund) :
    ?>
    <a data-parent="#accordion" href="<?= H("deposit/fund/{$fund['id']}") ?>" 
        aria-expanded="true" aria-controls="<?= $fund['id'] ?>">
    <div class="col-md-3">
      <div class="panel panel-default account-board account-board-<?= $index % 4 + 1 ?>">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="col-md-8 text-right">
              <h4 class="media-heading"><?= '￥' . round($fund['balance'], 2) ?></h4>
              <p><?= H($fund['prot_name']) ?></p>
            </div>
          </div> 
        </div>
      </div>
    </div>
    </a>
    <?php endforeach; ?>
  </div>
</div>
<?php endif ?>