<div class="list-group">
  <a href="/" class="list-group-item list-group-title">
    <?= H(T(\Gini\Module\BillingSwu::serverTitle()[0])) ?>
  </a>
  <?php 
  foreach ($items as $href => $item) :
  ?>
  <a href="<?= H($href) ?>" class="list-group-item <?= $href == $selected ? 'active' : '' ?>">
    <i class="text-center <?= $item['icon'] ?>" aria-hidden="true" style="width: 16px;"></i>
    <span><?= T($item['text']) ?></span>
  </a>
  <?php
  endforeach;
  ?>
</div>