<div class="panel panel-default table-responsive">
   <!-- 搜索模块 -->
  <?= $search ?>
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 text-left">
         <h4>
          <ol class="breadcrumb breadcrumb-custom">
              <li><a href="<?= H(URL("authorized/myinfo/{$aid}")) ?>"><?= T('授权记录') ?></a></li>
              <li class="active"><?= T('经费流水') ?></li>
          </ol>
          <h4>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <th><?= T('明细号') ?></th>
      <th><?= T('部门编号') ?></th>
      <th><?= T('部门名称') ?></th>
      <th><?= T('项目编号') ?></th>
      <th><?= T('项目名称') ?></th>
      <th><?= T('金额') ?></th>
      <th><?= T('操作时间') ?></th>
      <th><?= T('操作人') ?></th>
      <th><?= T('操作类别') ?></th>
      <th><?= T('凭证编号') ?></th>
    </thead>
    <tbody>
    <?php
    if ($transactions) foreach ($transactions as $tran) :
    if ($tran['object'] == 'subsidy') continue;
    $transaction = a('transaction', $tran['id']);
    $account = a('account', $tran['account']);
    $fund = a('fund', $account->fund);
    $user = a('user', $tran['user']);
    ?>
    <tr>
      <td><?= H(str_pad($transaction->id, 8, 0, STR_PAD_LEFT)) ?></td>
      <td><?= H($fund->dept_no) ?></td>
      <td><?= H($fund->dept_name) ?></td>
      <td><?= H($fund->prot_no) ?></td>
      <td><?= H($fund->prot_name) ?></td>
      <td>
        <span class="<?= $transaction->style() ?>">
          <?= H(abs($transaction->amount)) ?>
        </span>
      </td>
      <td><?= H($transaction->ctime) ?></td>
      <td><?= H($user->name) ?></td>
      <td>
        <span class="<?= $transaction->style() ?>"><?= $transaction->text() ?></span>
      </td>
      <td>
        <span class="label label-primary"><?= $transaction->evidence ?></span>
      </td>
    </tr>
    <?php
    endforeach;
    ?>
    </tbody>
  </table>
</div>
<?= $pagination ?>